@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
    --white-100: hsl(206, 5%, 100%);
    --white-200: hsl(206, 5%, 90%);
    --white-300: hsl(206, 5%, 80%);
    --white-400: hsl(206, 5%, 65%);
    --white-500: hsl(206, 5%, 50%);
    --black-100: hsl(210, 20%, 5%);
    --black-200: hsl(210, 20%, 4%);
    --black-300: hsl(210, 20%, 3%);
    --black-400: hsl(210, 20%, 2%);
    --black-500: hsl(210, 20%, 1%);
    --brown-100: hsl(355, 7%, 80%);
    --brown-200: hsl(355, 7%, 70%);
    --brown-300: hsl(355, 7%, 60%);
    --brown-400: hsl(355, 7%, 50%);
    --brown-500: hsl(355, 7%, 40%);
    --text-xs: clamp(0.82rem, calc(0.8rem + 0.14vw), 0.9rem);
    --text-sm: clamp(0.91rem, calc(0.88rem + 0.14vw), 1rem);
    --text-md: clamp(1rem, calc(0.97rem + 0.14vw), 1.08rem);
    --text-lg: clamp(1.09rem, calc(1.06rem + 0.14vw), 1.18rem);
    --text-xl: clamp(1.19rem, calc(1.16rem + 0.14vw), 1.27rem);
    --text-xxl: clamp(1.28rem, calc(1.25rem + 0.14vw), 1.38rem);
    --display-xs: clamp(1.56rem, calc(1.44rem + 0.55vw), 1.94rem);
    --display-sm: clamp(1.95rem, calc(1.75rem + 0.92vw), 2.57rem);
    --display-md: clamp(2.44rem, calc(2.11rem + 1.45vw), 3.42rem);
    --display-lg: clamp(3.05rem, calc(2.55rem + 2.22vw), 4.55rem);
    --display-xl: clamp(3.82rem, calc(3.07rem + 3.32vw), 6.05rem);
    --display-xxl: clamp(4.77rem, calc(3.67rem + 4.86vw), 8.05rem);
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {
    font-family: 'Inter', system-ui, ui-sans-serif, sans-serif;
    font-size: var(--text-md);
    font-weight: normal;
    line-height: 1.5;
    color: var(--black-500);
    background-color: var(--white-100);
    padding-bottom: 2rem;
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    background: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.text-xs {
    font-size: var(--text-xs);
    line-height: inherit;
}
.text-sm {
    font-size: var(--text-sm);
    line-height: inherit;
}
.text-md {
    font-size: var(--text-md);
    line-height: inherit;
}
.text-lg {
    font-size: var(--text-lg);
    line-height: inherit;
}
.text-xl {
    font-size: var(--text-xl);
    line-height: inherit;
}
.text-xxl {
    font-size: var(--text-xxl);
    line-height: inherit;
}

.heading-xs {
    font-size: var(--display-xs);
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-sm {
    font-size: var(--display-sm);
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-md {
    font-size: var(--display-md);
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-lg {
    font-size: var(--display-lg);
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-xl {
    font-size: var(--display-xl);
    line-height: 1.15;
    letter-spacing: -1px;
}
.heading-xxl {
    font-size: var(--display-xxl);
    line-height: 1.15;
    letter-spacing: -1px;
}

.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 400;
}
.font-medium {
    font-weight: 500;
}
.font-semi {
    font-weight: 600;
}
.font-bold {
    font-weight: 700;
}
.font-bolder {
    font-weight: 800;
}
.font-black {
    font-weight: 900;
}

.badge {
    font-family: inherit;
    font-size: var(--text-xs);
    font-weight: normal;
    line-height: 1.15;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 1rem;
    text-transform: unset;
}
.badge-primary {
    padding: 0.2rem 0.65rem;
    color: var(--white-100);
    background-color: var(--brown-500);
}
.badge-darken {
    padding: 0.2rem 0.65rem;
    color: var(--white-100);
    background-color: var(--black-500);
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: var(--text-sm);
    font-weight: normal;
    line-height: inherit;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 0.25rem;
    text-transform: unset;
    transition: all 0.3s ease;
}
.btn-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}
.btn-primary {
    padding: 0.65rem 1.75rem;
    color: var(--white-100);
    background-color: var(--brown-500);
    box-shadow: var(--shadow-medium);
}
.btn-darken {
    padding: 0.65rem 1.75rem;
    color: var(--white-100);
    background-color: var(--black-500);
    box-shadow: var(--shadow-medium);
}
.btn-neutral {
    padding: 0.65rem 1.75rem;
    color: var(--black-300);
    background-color: var(--white-100);
    box-shadow: var(--shadow-medium);
}

.wrapper-figure {
    position: relative;
    align-items: center;
    justify-self: center;
}
.wrapper-figure::before {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 100%;
    border-radius: 50%;
    padding-bottom: 100%;
    translate: -50% -50%;
    background-color: var(--brown-300);
}
.wrapper-image {
    display: block;
    max-width: 17rem;
    height: auto;
    scale: 1.25;
    rotate: 30deg;
    translate: 1rem;
    filter: drop-shadow(0px 8px 8px rgba(15, 15, 15, 0.4));
}
@media only screen and (min-width: 48rem) {
    .wrapper-image {
        max-width: 20rem;
    }
}
@media only screen and (min-width: 64rem) {
    .wrapper-image {
        max-width: 24rem;
    }
}
.wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    margin-block: 4rem 2rem;
}
.wrapper-inform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
}
.wrapper-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-action {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
}
.wrapper-action .btn-neutral {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
}

.sizes,
.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
}

.sizes-list {
    display: flex;
    column-gap: 0.25rem;
    padding-right: 1.5rem;
}
.sizes-item {
    font-family: inherit;
    font-size: 1rem;
    line-height: 2rem;
    cursor: pointer;
    user-select: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.25rem;
    transition: all 0.2s ease;
}
.sizes-item.is-select {
    font-weight: 500;
    color: var(--white-100);
    background-color: var(--brown-500);
}
